---
layout: devoxxbase
---

.slides
  %section(data-state="" )
    .title-information
    %h2 An OpenShift Primer
    %h3 by
    %h4 Eric D. Schabell
    %h5 JBoss Technology Evangelist
    %h5 @ericschabell
    :markdown
      <div style="float: right">
        <img height="35%" width="35%" src="/images/openshift_primer.png" />
      </div>

  %section(data-state="hammers" )
    %h2

  %section(data-state="never-look" )
    %h3.invert Never look back...

  %section(data-state="dev-heaven" )
    .title-information

  %section(data-state="dorking" )
    .title-information

  %section(data-state="" )
    .title-information
    %h2 A Little History
    :markdown
      * Nov 2010: Makara acquired
      * In 2011: merged into OpenShift project
      * May 2012: Open Sourced
        * GitHub, liveCD, blogs, howto's, quickstarts, webinars
      * Dec 2012: OpenShift Primer (e-book)
      * 2013: Online Public PaaS / Enterprise Private PaaS / xPaaS Services
        * Events - SINJUG, GOTO Aarhus, JAX London, JUDCon Boston


  %section(data-state="" )
    .title-information
    %h2 Quickstart
    :markdown
      1. Sign up
      2. Install client tools
      3. Create domain
      4. Create application
      5. Deploy application (GIT)

  %section(data-state="" )
    .title-information
    %h2 Sign up, it's free!
    :markdown
      * [http://openshift.redhat.com] (http://openshift.redhat.com)
      * Example projects you can deploy now
        * [http://www.github.com/openshift] (http://www.github.com/openshift)
      <div style="float: right">
        <img height="450" width="500" src="/images/sign-up.png" />
      </div>
      * Help
        * IRC freenode #openshift
        * forums
        * email openshift@redhat

  %section(data-state="" )
    .title-information
    %h2 Install Client Tools
    :markdown
      * Fedora / RHEL
        * openshift.repo
        * /etc/yum.repos.d
        * sudo yum install rubygem-rhc
      * osX / Windows / Unix
        * gem install rhc
        * see forums or blogs
        <div style="float: right">
          <img src="/images/rhc.png" />
        </div>

  %section(data-state="" )
    .title-information
    %h2 Create Domain
    :markdown
      * use rhc command
        * $ rhc domain create -n mydomain
      * use admin console
        <div style="float: right">
          <img src="/images/domain.png" />
        </div>

  %section(data-state="webadmin" )
    .title-information

  %section(data-state="instantapps" )
    .title-information

  %section(data-state="featuredapps" )
    .title-information

  %section(data-state="createapps" )
    .title-information

  %section(data-state="readytocode" )
    .title-information

  %section(data-state="" )
    .title-information
    %h2 Application Details
    :markdown
      <div style="float: center">
        <img src="/images/appdetails.png" />
      </div>

  %section(data-state="" )
    .title-information
    %h2 Cartridge additions
    :markdown
      <div style="float: center">
        <img src="/images/cartridges.png" />
      </div>

  %section(data-state="" )
    .title-information
    %h2 Other Options
    :markdown
      * name app and define type
        * $ rhc app create -a $appname -t $apptype
        * (Node.js, DIY, Jenkins, PHP, Ruby, Python, Perl and most important, Java!)
        <div style="float: right">
          <img width="500" src="/images/jbdsopenshift.png" />
        </div>
      * Add application to local repo
        * $ git add .
      * Commit changes
        * $ git commit -m "Initial app import."

  %section(data-state="" )
    .title-information
    %h2 Deply to Cloud
    :markdown
      * Push the code
        * $ git push
      * Congratulations, your app is in the cloud!
      <div style="float: right">
        <img width="700" height="550" src="/images/pushedapp.png" />
      </div>

  %section(data-state="easypeasy" )
    .title-information

  %section(data-state="gears" )
    .title-information

  %section(data-state="" )
    .title-information
    %h2 JBoss Developer Studio
    :markdown
      <div style="float: right">
        <img src="/images/jbdsdetails.png" />
      </div>

  %section(data-state="" )
    .title-information
    %h2 Advanced Quickstarts

  %section(data-state="" )
    .title-information
    %h3 Devoxx 2013 Mobile Registration
    :markdown
      * $ rhc app create -t jbosseap-6 devoxx
      * $ cd devoxx
      * $ git remote add upstream -m master git://github.com/eschabell/openshift-devoxx.git
      * $ git pull -s recursive -X theirs upstream master
      * $ git push
      <div style="float: right">
        <img src="/images/aerogear.png" />
      </div>
      * `http://devoxx-$your_domain.rhcloud.com`

  %section(data-state="devoxxapp" )
    .title-information

  %section(data-state="" )
    .title-information
    %h3 Host Awestruct Presentations
    :markdown
      * $ rhc app create -t ruby-1.9 --from-code git://github.com/eschabell/openshift-presos-awstruct.git presos
      * `http://presos-$your_domain.rhcloud.com`
      <div style="float: center">
        <img src="/images/presos.png" />
      </div>

  %section(data-state="buzz" )
    .title-information

  %section(data-state="" )
    .title-information
    %h3 Loving Your Hammers?
    :markdown
      <div style="float: center">
        <img src="/images/loving.png" />
      </div>

  %section(data-state="coffee" )
    .title-information

  %section(data-state="" )
    .title-information
    %h3 jBPM Migration Project Demo
    :markdown
      * $ rhc app create -t jbossas-7 --from-code git://github.com/eschabell/openshift-jbpmmigration.git jbpmmigration
      * `http://jbpmmigration-$your_domain.rhcloud.com/jbpmmigration_upload-0.5`
      <div style="float: right">
        <img src="/images/jbpmmigration.png" />
      </div>

  %section(data-state="" )
    .title-information
    %h3 Drools (Opta) Planner Demo
    :markdown
      * $ rhc app create -t jbosseap-6 --from-code git://github.com/eschabell/openshift-droolsplanner.git droolsplanner
      * `http://droolsplanner-$your_domain.rhcloud.com/droolsplanner`
      <div style="float: right">
        <img width="400" height="100" src="/images/optaPlannerLogo.png" />
      </div>

  %section(data-state="" )
    .title-information
    %h3 Business Activity Monitoring
    :markdown
      * $ rhc app create -t jbossas-7 --from-code git://github.com/eschabell/openshift-bpm-bam-dashboard.git bam
      * Setup user login:
        * $ rhc app show bam
        * $ scp bampreview/.openshift/config/bam-*.properties xxxxxxxxxx@bam-inthe.rhcloud.com:~/jbossas/standalone/configuration/
      * `http://bam-$your_domain.rhcloud.com  (u:erics/p:erics)`
      <div style="float: right">
        <img width="400" height="150" src="/images/bam.png" />
      </div>

  %section(data-state="" )
    .title-information
    %h3 JBoss BPM v6 Process Designer
    :markdown
      * $ rhc app create -t jbossas-7 --from-code git://github.com/eschabell/openshift-bpm-process-designer.git designer
      * `http://designer-$your_domain.rhcloud.com ( u: erics / p: erics )`
      <div style="float: right">
        <img width="900" src="/images/designer.png" />
      </div>

  %section(data-state="" )
    .title-information
    %h3 OpenShift Primer Workshop
    :markdown
      * $ rhc app create -t ruby-1.9 --from-code=https://github.com/eschabell/jaxlondon-2013-workshop.git jaxlondon2013
      * `http://jaxlondon2013-$your_domain.rhcloud.com`
      <div style="float: right">
        <img width="900" src="/images/workshop.png" />
      </div>

  %section(data-state="" )
    .title-information
    :markdown
      <div style="float: left">
        <img height="100" width="700" src="/images/references.jpg" />
      </div>
      * <font size="5">__OpenShift Primer Workshop__ - [_http://presos-onthe.rhcloud.com_] (http://presos-onthe.rhcloud.com)</font>
      * <font size="5">__OpenShift__ - [_http://openshift.redhat.com_] (http://openshift.redhat.com)</font>
      * <font size="5">__Blogs__ - [_https://www.redhat.com/openshift/community/blogs_] (https://www.redhat.com/openshift/community/blogs)</font>
      * <font size="5">__Repository for all OpenShift demos shown here__ - [_https://github.com/eschabell_] (https://github.com/eschabell)</font>
      * <font size="5">__OpenShift demo repository__ - [_https://github.com/openshift_] (https://github.com/openshift)</font>
      * <font size="5">__Rise above the Cloud hype with OpenShift__ - [_http://www.schabell.org/2012/12/openshift-primer-book-published-amazon-ibooks.html_] (http://www.schabell.org/2012/12/openshift-primer-book-published-amazon-ibooks.html)</font>
