---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h4 Red Hat JBoss BRMS オンラインワークショップで Cool Storeを作る
      %h5
        :markdown
          * [ラボ 01 - JBoss BRMSのインストール] (lab01.html)

    .title-author
      日本語版:Hisao Furuichi
      %br
      %br
      原文:Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
