---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h2 Presentations
      %h5
        :markdown
          * [Devoxx 2013] (devoxx2013_openshift.html)
          * [JAX London 2013 (workshop)] (jaxlondon2013_openshift.html)
          * [GOTO Aarhus 2013] (gotoaarhus2013_openshift.html)
          * [Webinar July 2013 - Are you ready to rumble with JBoss Integration & BPM] (webinar_ready_to_rumble.html)
          * [JUDCon 2013 Boston] (judconindex.html)

    .title-author
      Eric D. Schabell
      %br
        Jboss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
