---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h2 JUDCon 2013 USA
      %h5
        :markdown
          * [OpenShift Primer - get your JBoss in the Cloud] (judcon2013_openshift.html)
          * [Do you want to be a JBoss RockStar] (judcon2013_rockstar.html)

    .title-author
      Eric D. Schabell
      %br
        Jboss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
