---
layout: judconbase
---

.slides
  %section.title(data-state="judcon2013" )
    .title-information
      %h2 Do you want
      %h4 to be a
      %h2 JBoss Rock Star
      %h5
    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell

  %section(data-state="judcon2013" )
    .title-information
    %h1 What does it take?

  %section(data-state="light" )
    .title-information
    %h1.invert Knowledge

  %section(data-state="light" )
    .title-information
    %h1.invert Passion

  %section(data-state="light" )
    .title-information
    %h2.invert Tools

  %section(data-state="deal" )
    %h2.invert So let's make a deal...

  %section(data-state="curtains" )
    %h2.invert Next time it's you up here!

  %section(data-state="judcon2013" )
    %h2 Over on JBoss.org
    :markdown
      <div style="float: right">
        <img src="/images/jbossorg.png" />
      </div>

  %section(data-state="judcon2013" )
    .title-information
    %h2 Let's make a plan
    :markdown
      1. pick your story (project)
      2. project uniformity
      3. soaring into the clouds

  %section(data-state="judcon2013" )
    .title-information
    %h2 1. Picking Your Story
    :markdown
      #### you have amazing projects
      #### waiting to get out?
      <div style="float: right">
        <img src="/images/brains.jpg" />
      </div>

  %section(data-state="judcon2013" )
    .title-information
    %h2 2. Uniformity
    :markdown
      #### JBoss Rock Star Template
      [https://github.com/eschabell/jboss-rock-star-template/tree/v0.1] (https://github.com/eschabell/jboss-rock-star-template/tree/v0.1)

  %section(data-state="judcon2013" )
    .title-information
    %h2 Providing Consistency
    :markdown
      * uniform installation, all platforms
      * projects
      * installs
      * support

  %section(data-state="judcon2013" )
    .title-information
    %h3 Templated projects
    :markdown
      <div style="float: center">
        <img src="/images/project-template.png" />
      </div>

  %section(data-state="judcon2013" )
    %h2 3. Soaring High
    %h5
    :markdown
      <div style="float: center">
              <img src="/images/cloud-migration.png" />
      </div>

  %section(data-state="judcon2013" )
    .title-information
    %h3 Cloudify
    :markdown
      <div style="float: right">
        <img src="/images/preso-template.png" />
      </div>
      * [https://github.com/eschabell/awestruct_presentation] (https://github.com/eschabell/awestruct_presentation)

  %section(data-state="judcon2013" )
    %h2 In Action: Customer Evaluation Demo
    %h5
    :markdown
      <div style="float: center">
              <img src="/images/customer-eval.png" />
      </div>

  %section(data-state="judcon2013" )
    %h2 In Action: Many More...
    %h5
    :markdown
      * Rewards Demo - JBoss BPM human tasks integration
      * Home Loan Demo - JBoss BPM / Rules / JBoss SOA
      * Cool Store Demo - JBoss BPM / CEP / Rules / Shopping Cart

  %section(data-state="judcon2013" )
    :markdown
      <div style="float: left">
        <img height="100" width="700" src="/images/references.jpg" />
      </div>
      * <font size="5">__JBoss Rock Star Template Project__ - [_https://github.com/eschabell/jboss-rock-star-template_] (https://github.com/eschabell/jboss-rock-star-template)</font>
      * <font size="5">__Customer Evaulation Demo__ - [_https://github.com/eschabell/brms-customer-evaluation-demo_] (https://github.com/eschabell/brms-customer-evaluation-demo)</font>
      * <font size="5">__Rewards Demo__ - [_https://github.com/eschabell/brms-rewards-demo_] (https://github.com/eschabell/brms-rewards-demo)</font>
      * <font size="5">__Cool Store Demo__ - [_https://github.com/eschabell/brms-coolstore-demo_] (https://github.com/eschabell/brms-coolstore-demo)</font>
      * <font size="5">__jBPM Migration Project in the Cloud__ - [_https://github.com/eschabell/openshift-jbpmmigration_] (https://github.com/eschabell/openshift-jbpmmigration)</font>

