---
layout: webinarbase
---

.slides
  %section.title(data-state="intro" )
    .title-information
      %h3.invert Build the Enlightened Enterprise
      %h4.invert Are you ready to rumble with JBoss Integration & BPM?
    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell

  %section.title(data-state="soa-p" )

  %section.title(data-state="brms-arch" )

  %section.title(data-state="homeloan" )

  %section.title(data-state="intro" )
    .title-information
      %h2.invert Questions
      %h4.invert or
      %h2.invert Comments?
      %h5
    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
